spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: ranchel
    url:  jdbc:mysql://127.0.0.1:3306/food_project?characterEncoding=utf-8&useSSL=false
  jpa:
    show-sql: true
  jackson:
    default-property-inclusion: non_null

  mvc:
   view:
     prefix: /WEB-INF/
     suffix: .jsp

server:
  context-path: /foodshop







